@tailwind base;

@tailwind components;

.page-title {
    @apply font-normal text-3xl text-gray-800 leading-none ml-16 pt-12 mb-12;
}

.case-item {
    @apply w-1/4 m-4 shadow border-2 rounded-lg mb-4 text-center pb-5;
}

.case-window {
    @apply w-1/3 m-2 mb-4 p-1 pb-5 h-48 text-center inline-block shadow border-2 rounded-lg flex flex-no-wrap bg-contain bg-no-repeat bg-bottom bg-secondary-900;
}

.card-image {
    @apply w-full bg-cover rounded-t-lg;
    height: 150px;
}

.case-image {
    @apply w-full bg-cover shadow rounded-lg;
    height: 40em;
}

.tag {
    @apply w-auto rounded-full bg-white text-gray-900 text-left shadow-box-one shadow-box-two p-2 pl-12 my-2 mx-4 bg-left-aligned bg-25 bg-no-repeat;
}

.business-canvas-list {
    @apply list-disc pl-8 border-gray-900 text-gray-900;
}

.business-canvas-item {
    @apply border-gray-900 border-2 p-4;
}

.box-gradient {
    background: linear-gradient(#F6F6F6, #E5E5E5);
    @apply mb-12 p-8 rounded-2xl shadow-box-one shadow-box-two;
}

.btn {
    @apply text-white rounded-full font-medium text-sm p-2 px-12;
}

.btn-primary {
    @apply bg-primary-900 shadow-btn-primary;
}

.btn-primary:disabled {
    @apply bg-primary-200 text-gray-400 shadow-none;
}

.btn-tertiary-white {
    @apply bg-gray-100 text-gray-900 shadow-btn;
}

.btn-tertiary-blue {
    @apply bg-darkblue text-gray-100 shadow-btn-tertiary p-2 mb-4;
}

@tailwind utilities;
